body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.card {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 100px;
}

h1 {
  color: red;
}



